@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --clr-Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --clr-Pale-Blue: hsla(243, 100%, 93%, 0.91);
  --clr-Grayish-Blue: hsl(229, 7%, 55%);
  --clr-Dark-Blue: hsl(228, 56%, 26%);
  --clr-Very-Dark-Blue: hsl(229, 57%, 11%);
  --ff-base: "Raleway", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.3;
  min-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

.bold {
  font-weight: var(--fw-bold);
}

body {
  font-size: 14px;
  font-family: var(--ff-base);
  background-color: var(--clr-Very-Dark-Blue);
  background-image: url("../image/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  display: grid;
  place-content: center;
  color: var(--clr-Pale-Blue);
}

.container {
  gap: 2rem;
  min-width: 55vw;
  min-height: 20vh;
}

.left {
  background-color: var(--clr-Dark-Blue);
  min-width: 25%;
  border-radius: 12px;
  border-top-right-radius: 4rem;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
}

.logo {
  width: 70%;
}

.icon {
  gap: 0.8rem;
}
.icon .icon_holder {
  cursor: pointer;
  height: 1rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0.7rem;
  background-color: var(--clr-Very-Dark-Blue);
}

.right {
  align-items: flex-end;
  flex-grow: 1;
}

.card {
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--clr-Dark-Blue);
  gap: 0.2rem;
  align-items: center;
}
.card > * {
  width: 100%;
}

.storage-bar-holder {
  padding: 0.3rem;
  background-color: var(--clr-Very-Dark-Blue);
  border-radius: 50rem;
  position: relative;
  margin-top: 0.5rem;
}

.storage-bar {
  width: 81.5%;
  height: 0.8rem;
  background: rgb(242, 166, 160);
  background: linear-gradient(90deg, rgb(242, 166, 160) 0%, rgb(233, 96, 157) 100%);
  border-radius: 50rem;
  position: relative;
}
.storage-bar span {
  position: absolute;
  background-color: var(--clr-Pale-Blue);
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  right: 0.1rem;
  align-self: center;
}

.capacity {
  justify-content: space-between;
  align-items: center;
}

.remaining-capacity {
  background-color: hsl(0deg, 0%, 100%);
  display: inline-flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  color: var(--clr-Pale-Blue);
  border-radius: 0.6rem;
  padding: 0.6rem;
  color: var(--clr-Grayish-Blue);
  font-size: 0.8rem;
  position: absolute;
  right: 0.5rem;
  bottom: 3rem;
}
.remaining-capacity::after {
  content: "";
  --border: 2.1rem;
  position: absolute;
  display: inline-block;
  border-top: var(--border) solid hsl(0deg, 0%, 100%);
  border-left: var(--border) solid transparent;
  right: 0;
  top: 2.7rem;
}

@media (max-width: 65em) {
  .remaining-capacity {
    right: 25%;
    bottom: -400%;
  }
  .remaining-capacity::after {
    display: none;
  }
}
@media (max-width: 45em) {
  body {
    background-image: url("../image/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .container {
    flex-direction: column;
  }
  .card {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */